<% content_for :title, "New location" %>

<h1>New location</h1>

<%= render "form", inventory_location: @inventory_location %>

<br>

<div>
  <%= link_to "Back to locations", inventory_locations_path %>
</div>
