<div class="modal card-quick-view" data-card-quick-view-id=<%= card.id %> data-controller="quick-view">
  <div class="modal-background" data-action="click->quick-view#close"></div>
  <h1 class="modal-content title is-1">IS WORK!</h1>
</div>
