<div class="level">
<h1 class="level-left title is-1">Staging</h1>


<!-- 
  choices dropdown select for locations

-->


<div class="level level-right">
  <%= link_to "Clear Staging", inventory_cards_clear_staging_path, class: "button is-warning", data: {turbo_method: :post} %>

  <%= link_to "Back to dashboard", inventory_cards_path, class: "" %>
</div> 
</div>
<div class="columns is-multiline is-flex-wrap-wrap is-align-items-baseline">
  <% unless @cards.empty? || @cards.nil? %>
    <% @cards.each do |card| %>
      <div class="column is-narrow">
        <%= image_tag card.metadata.image_uris["small"], class: "image" %>
        <p><b>Quantity:</b>
          <%= card.quantity %></p>
        <% if card.foil %>
          <p><b>Foil</b></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="is-size-3">No Cards Staged</p>
  <% end %>
</div>
