<p style="color: green"><%= notice %></p>

<% content_for :title, "Cards" %>

<h1>Cards</h1>

<div id="inventory_cards">
  <% @inventory_cards.each do |inventory_card| %>
    <%= render inventory_card %>
    <p>
      <%= link_to "Show this card", inventory_card %>
    </p>
  <% end %>
</div>

<%= link_to "New card", new_inventory_card_path %>
