<% content_for :title, "New card metadatum" %>

<h1>New card metadatum</h1>

<%= render "form", card_metadatum: @card_metadatum %>

<br>

<div>
  <%= link_to "Back to card metadata", card_metadata_path %>
</div>
