// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/mixins";
@import "choices.js/src/styles/choices";

.choices__inner {
  .choices__list {
      .choices__item--selectable {
        color: black;
      }

  }

}
  
.choices__item--choice {
  color: black !important;
}

.margin-auto {
  margin: auto;
}

.full-width {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}


.convert-inventory-form {
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;

    .field {
      margin-bottom: 1.5rem;
    }
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
  }
}

.inventory-card {
  p, b {
    font-size: .75rem;
  }
}

.is-foil-card {
  position: relative;
  display: inline-block;    
  border: 2px solid rgba(252, 208, 5, 1);
}

.is-foil-card::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(245, 119, 244, 0.21); /* change to any RGBA you like */
  pointer-events: none;               /* img still “clickable” if needed */
}

/* ensure the img itself fills the container */
.is-foil-card img {
  display: block;
  width: 100%;
  height: auto;
}

.shipped-order {
  border: 2px solid $info;
  border-radius: 5px;
}

.location-card {
  border: 3px solid transparent;
  border-radius: 8px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.location-card::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.location-card--source {
  border-color: $danger;
}

.location-card--source::after {
  background: rgba(241, 70, 104, 0.12);
}

.location-card--destination {
  border-color: $link;
}

.location-card--destination::after {
  background: rgba(50, 115, 220, 0.12);
}

.location-card--source-tag {
  background: $danger;
  color: #fff;
}

.location-card--destination-tag {
  background: $link;
  color: #fff;
}
