<% content_for :title, "Editing pull batch" %>

<h1>Editing pull batch</h1>

<%= render "form", pull_batch: @pull_batch %>

<br>

<div>
  <%= link_to "Show this pull batch", @pull_batch %> |
  <%= link_to "Back to pull batches", pull_batches_path %>
</div>
